@model IEnumerable<ClockMe.Models.Activity>

@{
    ViewBag.Title = "Activities";
}

<h2>Activities</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <div class="form-horizontal" id="FilterForm">
        @if (Session["Role"] != null && Session["Role"].ToString() == "admin")
        {
            <div class="form-group">
                <label class="control-label col-md-2">Email</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="Email" name="Email" value="@ViewBag.email">
                </div>
            </div>
        }

        <div class="form-group">
            <label class="control-label col-md-2">Time</label>
            <div class="col-md-10">
                <div class='input-group date' style="max-width: 598px;">
                    <input type="text" class="form-control" id="StartDate" name="StartDate">
                    <span class="input-group-addon">to</span>
                    <input type="text" class="form-control" id="EndDate" name="EndDate">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Type</label>
            <div class="col-md-10">
                <select class="form-control" id="Type" name="Type">
                    <option>all</option>
                    <option>in</option>
                    <option>out</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Filter" class="btn btn-default" id="FilterButton" />
                <input type="button" value="Reset" class="btn btn-default" id="ResetButton" />
                @Html.ActionLink("Export to Excel", "ExportToExcel", "Activities", null, new { @class = "btn btn-success" })
                @Html.ActionLink("Export to Pdf", "ExportToPdf", "Activities", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        @if (Session["Role"] != null && Session["Role"].ToString() == "admin")
        {
            <th>

                @Html.DisplayNameFor(model => model.User.Email)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (Session["Role"] != null && Session["Role"].ToString() == "admin")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#StartDate').datetimepicker({
                format: 'DD.MM.YYYY HH:mm'
            });
            $('#EndDate').datetimepicker({
                format: 'DD.MM.YYYY HH:mm'
            });
            var type = "@ViewBag.type";
            if (type) {
                $("#Type").val(type);
            }
            $("#ResetButton").click(function () {
                $("#FilterForm :input").removeAttr('value');
                $("#Type").val("all");
                $("#FilterButton").trigger("click");
            });


            if ("@ViewBag.email" != "") {
                var lastValue = "";
                var elements = $(".table tr");
                var i;
                for (i = 1; i < elements.length; i++) {
                    var currentValue = $(elements[i]).children()[2].innerText;
                    if (currentValue === lastValue && currentValue === "in") {
                        console.log(lastValue);
                        $(elements[i]).css("background-color", "#ffcccc");
                    }
                    if (currentValue === lastValue && currentValue === "out") {
                        console.log(currentValue);
                        $(elements[i-1]).css("background-color", "#ffcccc");
                    }
                    lastValue = currentValue;
                }
            }
        });
    </script>
}
