@model IEnumerable<ClockMe.Models.Timesheet>

@{
    ViewBag.Title = "Timesheets";
}

<h2>Timesheets</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <div class="form-horizontal">

        @if (Session["Role"] != null && Session["Role"].ToString() == "admin")
        {
            <div class="form-group">
                <label class="control-label col-md-2">Email</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="Email" name="Email">
                </div>
            </div>
        }

        <div class="form-group">
            <label class="control-label col-md-2">Date</label>
            <div class="col-md-10">
                <div class='input-group date' style="max-width: 598px;">
                    <input type="text" class="form-control" id="StartDate" name="StartDate">
                    <span class="input-group-addon">to</span>
                    <input type="text" class="form-control" id="EndDate" name="EndDate">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Hours</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Hours" name="Hours">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Type</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Type" name="Type">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Filter" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        @if (Session["Role"] != null && Session["Role"].ToString() == "admin")
        {
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (Session["Role"] != null && Session["Role"].ToString() == "admin")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#StartDate').datetimepicker({
                format: 'DD.MM.YYYY'
            });
            $('#EndDate').datetimepicker({
                format: 'DD.MM.YYYY'
            });
        });
    </script>
}