@using Newtonsoft.Json
@model IEnumerable<ClockMe.Models.PlanningCalendar>

@{
    ViewBag.Title = "Planning calendar";
}

<h2>Planning calendar</h2>
<h4>Event scheduler</h4>
<hr />

<div id="calendar"></div>
<!-- Modal -->
<div class="modal fade" id="event-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Event</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="event-index" value="">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="min-date" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-8">
                            <input name="event-name" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="min-date" class="col-sm-3 control-label">Location</label>
                        <div class="col-sm-8">
                            <input name="event-location" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="min-date" class="col-sm-3 control-label">Dates</label>
                        <div class="col-sm-8">
                            <div class='input-group date'>
                                <input id='StartDate' type="text" class="form-control">
                                <span class="input-group-addon">to</span>
                                <input id='EndDate' type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="save-event">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function editEvent(event) {
            $('#event-modal input[name="event-index"]').val(event ? event.id : '');
            $('#event-modal input[name="event-name"]').val(event ? event.name : '');
            $('#event-modal input[name="event-location"]').val(event ? event.location : '');
            $("#StartDate").data("DateTimePicker").date(event ? event.startDate : '');
            $("#EndDate").data("DateTimePicker").date(event ? event.endDate : '');
            $('#event-modal').modal();
        }

        function deleteEvent(event) {
            var dataSource = $('#calendar').data('calendar').getDataSource();

            for (var i in dataSource) {
                if (dataSource[i].id == event.id) {
                    dataSource.splice(i, 1);
                    $.ajax({
                        url: '@Url.Action("Delete")',
                        method: 'POST',
                        contentType: "application/json",
                        data: JSON.stringify(event)
                    });
                    break;
                }
            }

            $('#calendar').data('calendar').setDataSource(dataSource);
        }

        function saveEvent() {
            var event = {
                id: $('#event-modal input[name="event-index"]').val(),
                name: $('#event-modal input[name="event-name"]').val(),
                location: $('#event-modal input[name="event-location"]').val(),
                startDate: $("#StartDate").data("DateTimePicker").date()._d,
                endDate: $("#EndDate").data("DateTimePicker").date()._d
            }

            var dataSource = $('#calendar').data('calendar').getDataSource();

            if (event.id) {
                for (var i in dataSource) {
                    if (dataSource[i].id == event.id) {
                        dataSource[i].name = event.name;
                        dataSource[i].location = event.location;
                        dataSource[i].startDate = event.startDate;
                        dataSource[i].endDate = event.endDate;
                        $.ajax({
                            url: '@Url.Action("Edit")',
                            method: 'POST',
                            contentType: "application/json",
                            data: JSON.stringify(event)
                        });
                    }
                }
            } else {
                var newId = 0;
                for (var i in dataSource) {
                    if (dataSource[i].id > newId) {
                        newId = dataSource[i].id;
                    }
                }

                newId++;
                event.id = newId;

                dataSource.push(event);
                $.ajax({
                    url: '@Url.Action("Create")',
                    method: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify(event)
                });
            }

            $('#calendar').data('calendar').setDataSource(dataSource);
            $('#event-modal').modal('hide');
        }

        $(function () {
            
            var dataSource = [];

            var events = @Html.Raw(JsonConvert.SerializeObject(@ViewBag.events));
            var i;
            for (i = 0; i < events.length; i++) {
                dataSource.push({
                    id: events[i].Id,
                    userId: events[i].UserId,
                    name: events[i].Name,
                    location: events[i].Location,
                    startDate: new Date(events[i].StartDate),
                    endDate: new Date(events[i].EndDate)
                });
            }

            $('#StartDate').datetimepicker({
                            format: 'DD.MM.YYYY HH:mm'
            });
            $('#EndDate').datetimepicker({
                    format: 'DD.MM.YYYY HH:mm'
            });

                var currentYear = new Date().getFullYear();

            $('#calendar').calendar({
                    enableContextMenu: true,
                enableRangeSelection: true,
                contextMenuItems: [
                    {
                        text: 'Update',
                        click: editEvent
                    },
                    {
                        text: 'Delete',
                        click: deleteEvent
                    }
                ],
                selectRange: function (e) {
                        editEvent({ startDate: e.startDate, endDate: e.endDate });
                    },
                mouseOnDay: function (e) {
                        if (e.events.length > 0) {
                            var content = '';

                        for (var i in e.events) {
                                content += '<div class="event-tooltip-content">' +
                                    '<div class="event-name" style="color:' +
                                    e.events[i].color +
                                    '">' +
                                    e.events[i].name +
                                    '</div>' +
                                    '<div class="event-location">' +
                                    e.events[i].location +
                                    '</div>' +
                                    '</div>';
                            }

                        $(e.element).popover({
                                trigger: 'manual',
                            container: 'body',
                            html: true,
                            content: content
                        });

                        $(e.element).popover('show');
                        }
                    },
                mouseOutDay: function (e) {
                        if (e.events.length > 0) {
                        $(e.element).popover('hide');
                        }
                    },
                dayContextMenu: function (e) {
                    $(e.element).popover('hide');
                    },
                dataSource: dataSource
            });

            $('#save-event').click(function () {
                    saveEvent();
                });
            });

    </script>
}


